<a href="https://colab.research.google.com/github/LoolzMe/MachineLearning/blob/main/TensorflowRegressionCoil1999.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install -q seaborn

In [3]:
import tensorflow as tf
import seaborn
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/coil-mld/results.data"

column_names = ["Season", "Size", "Fluid velocity", "chem_1", "chem_2", "chem_3", "chem_4", "chem_5", "chem_6",
                "chem_7", "chem_8", "biol_1", "biol_2", "biol_3", "biol_4", "biol_5", "biol_6", "biol_7"]

raw_dataset = pd.read_csv(url, na_values='XXXXXXX', names=column_names, comment='\t', sep=',', skipinitialspace=True)

In [12]:
raw_dataset.tail()

,Season,Size,Fluid velocity,chem_1,chem_2,chem_3,chem_4,chem_5,chem_6,chem_7,chem_8,biol_1,biol_2,biol_3,biol_4,biol_5,biol_6,biol_7
135,summer,medium,high__,8.12,10.2,7.6130,0.69900,33.56,28.034,49.658,2.200,18.1,1.7,2.0,0.0,1.7,5.9,0.0
136,winter,large_,low___,8.43,10.8,35.6420,6.22500,134.00,103.500,NaN,45.375,1.1,3.9,2.1,0.0,3.9,4.6,2.3
137,winter,large_,low___,8.70,11.7,21.4656,3.76500,91.45,38.000,83.000,17.000,0.0,4.7,0.0,0.0,2.6,2.6,0.0
138,summer,large_,low___,8.10,8.2,26.5400,2.80500,42.75,48.500,88.125,13.980,0.0,12.0,1.7,0.0,2.7,0.0,0.0
139,autumn,large_,low___,8.35,11.1,22.5600,3.14000,76.20,41.000,98.665,17.456,1.7,7.0,1.2,0.0,4.8,3.1,0.0

In [14]:
raw_dataset.dropna()
raw_dataset.tail()

,Season,Size,Fluid velocity,chem_1,chem_2,chem_3,chem_4,chem_5,chem_6,chem_7,chem_8,biol_1,biol_2,biol_3,biol_4,biol_5,biol_6,biol_7
135,summer,medium,high__,8.12,10.2,7.6130,0.69900,33.56,28.034,49.658,2.200,18.1,1.7,2.0,0.0,1.7,5.9,0.0
136,winter,large_,low___,8.43,10.8,35.6420,6.22500,134.00,103.500,NaN,45.375,1.1,3.9,2.1,0.0,3.9,4.6,2.3
137,winter,large_,low___,8.70,11.7,21.4656,3.76500,91.45,38.000,83.000,17.000,0.0,4.7,0.0,0.0,2.6,2.6,0.0
138,summer,large_,low___,8.10,8.2,26.5400,2.80500,42.75,48.500,88.125,13.980,0.0,12.0,1.7,0.0,2.7,0.0,0.0
139,autumn,large_,low___,8.35,11.1,22.5600,3.14000,76.20,41.000,98.665,17.456,1.7,7.0,1.2,0.0,4.8,3.1,0.0

In [15]:
# group by seasons 

train_winter = raw_dataset[raw_dataset['Season'] == 'winter']
train_spring = raw_dataset[raw_dataset['Season'] == 'spring']
train_summer = raw_dataset[raw_dataset['Season'] == 'summer']
train_autumn = raw_dataset[raw_dataset['Season'] == 'autumn']


train_autumn.tail()

,Season,Size,Fluid velocity,chem_1,chem_2,chem_3,chem_4,chem_5,chem_6,chem_7,chem_8,biol_1,biol_2,biol_3,biol_4,biol_5,biol_6,biol_7
112,autumn,large_,high__,8.00,10.98,9.700,0.87400,67.700,26.60000,51.03400,2.200,26.7,0.0,0.0,0.0,0.0,4.9,0.0
113,autumn,large_,low___,8.30,8.90,42.058,5.92200,116.727,150.58299,220.72301,6.700,0.0,45.4,0.0,0.0,0.0,0.0,3.8
120,autumn,large_,medium,7.95,9.10,76.886,3.46100,93.827,68.33300,146.04900,3.950,1.2,31.2,5.7,0.0,3.5,3.5,0.0
122,autumn,small_,high__,7.64,10.30,34.235,2.94200,41.430,17.00000,41.56700,7.430,23.2,0.0,0.0,0.0,27.6,11.1,0.0
139,autumn,large_,low___,8.35,11.10,22.560,3.14000,76.200,41.00000,98.66500,17.456,1.7,7.0,1.2,0.0,4.8,3.1,0.0

In [ ]:
seaborn.pairplot()